@font-face {
    font-family: 'PixelOperatorMono';
    src: url('PixelOperatorMono.woff2') format('woff2'),
         url('PixelOperatorMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}